html {
  font-family: Arial;
}

#logo-header {
  float: left;
  display: inline-block;
}

#logo-img {
  width: 50px;
}

#welcome-header {
  font-size: 20px;
  font-weight: normal;
  position: relative;
  left: 200px;
  display: inline-block;
}

table, th, td {
  border-collapse: collapse;
  border: 2px solid black;
  text-align: center;
}