section, h1, ul,
li, div, img, p, input {
	margin: 0;
	padding:0;	
}

section {
	width: 400px;	
	margin: 0 auto;
	padding: 16px 9px 26px 12px;	
	background-color: #eee;		
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 12px;	
}

h1 {
	font-size: 17px;	
	font-weight: normal;	
}

li {
	list-style: none;
	margin-top: 36px;
}

.container {
	width: 398px;
	height: 118px;
	position: relative;
	background-color: #fff;
}

img {
	width: 130px;
	height: 86px;
	margin: 15px;
	float: left;
}

.container,
img {
	border: 1px solid #999;
}

p {
	margin-top: 18px;
	margin-right: 25px;
		
}

strong {
	color: #333;
}

.listen,
.add {
	height: 25px;
	position: absolute;
	bottom: 16px;
	border-top-color: #E98180;
	border-right-color: #CC0001;
	border-bottom-color: #CC0001;
	border-left-color: #9D2727;
	color: #fff;
}

.listen {
	width: 73px;	
	right: 78px;
	background-image: url(../images/listen-btn.png);	
}

.add {
	width: 60px;
	right: 15px;
	background-image: url(../images/add-btn.png);
}