body, section, table, tbody, tr, td, textarea{
  margin: 0;
  padding: 0;
}

.calculator-container table {
  margin: 50px auto;
}

.calculator-container textarea {
  border: none;
  resize: none;
  text-align: right;
}

.calculator-container td {
  width: 50px;
  height: 50px;
  text-align: center;
  color: #8DF6F4;
}

.calculator-container textarea,
.calculator-container td {
  font-family: Consolas, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 1px 1px #909192;
  background-color: #F3F9FA;
  color: #8DF6F4;
}

.calculator-container table,
.calculator-container td {
  border: 2px solid #9FD1DC;
  border-collapse: collapse;
}